/* ------Footer Section------ */
.footer-block {
  background-color: var(--background-black);
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__wrapper-address-social {
    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% / 2) - 15px);
      margin-right: 30px;
    }
  }
}

.footer-logo-address,
.social-network,
.subscribe {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}

.footer-logo-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

// .addres-block,
// .footer-contacts__link
%footer-contacts-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.addres-block {
  @extend %footer-contacts-text;
  color: var(--white);
  display: block;
}

.footer-contacts__link {
  @extend %footer-contacts-text;
  font-family: inherit;
  color: var(--footer-contacts);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white);
  }
}

.addres-block__phys-address {
  display: block;
}

.addres-block__phys-address--pos,
.footer-contacts__item--pos:first-child {
  margin-bottom: 9px;
}

.footer-connect-title {
  @extend %secondary-uppercase-title;
  display: block;
  margin-bottom: 20px;
  color: var(--white);

  @media screen and (min-width: 768px) {
    padding-top: 12px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}

.subscribe {
  @media screen and (min-width: 1200px) {
    max-width: calc((100% / 2) - 15px);
  }
}

.subscribe__form-interaction {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.subscribe__input {
  display: block;
  margin: auto;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: var(--white);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--subscribe-input-border);
  filter: drop-shadow(var(--hero-button-shadow));
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  &--pos {
    @media screen and (min-width: 1200px) {
      margin-right: 12px;
    }
  }

  &::placeholder {
    color: var(--footer-contacts);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }

  &:hover,
  &:focus {
    border-color: var(--icon-body-grey);
  }
}
