/* ------Header------ */

.header-block {
  border-bottom: 1px solid var(--header-underline);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  top: 0;

  &__wrapper {
    @include flex-center();
    height: 59px;

    @media screen and (min-width: 768px) {
      height: 79px;
    }
  }
}

.header-block__relative {
  position: relative;
}

/* Main Menu And Header Contacts Font */

// .main-menu__link,
// .header-contacts__link
%main-menu--header-contacts-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

/* Main Menu */

.main-menu {
  @include flex-center();
}

.main-menu__list {
  @include flex-center();

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-menu__link {
  @extend %main-menu--header-contacts-link;
  position: relative;
  color: var(--common-color);
  display: inline-block;
  transition: color 250ms var(--timing-function);
  padding-top: 32px;
  padding-bottom: 31px;

  &:hover,
  &:focus {
    color: var(--brand-blue-color);
  }

  &--current {
    color: var(--brand-blue-color);
  }

  &::after,
  &--current::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--brand-blue-color);
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    transform: scalex(0%);
    transition: transform 250ms var(--timing-function);
  }

  &--current::after {
    transform: scalex(100%);
  }

  &:hover::after,
  &:focus::after {
    transform: scalex(100%);
  }
}

.main-menu__item:not(:last-child) {
  margin-right: 50px;
}

/* Header Contacts */
.header-contacts {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}

.header-contacts__link {
  @extend %main-menu--header-contacts-link;
  @include flex-center();

  color: var(--grey);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-blue-color);
  }
}

.header-contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

// Mobile-menu

.menu-container {
  // display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  padding: 10px 0;
  background-color: var(--white);
  z-index: 1000;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    visibility: hidden;
    pointer-events: none;
  }
}

.menu-container.is-open {
  @media screen and (max-width: 767px) {
    display: block;
    transform: translateY(0);
  }
}

.mobile-container {
  position: relative;
  height: inherit;
}

.mobile-main-menu,
.mobile-header-contacts,
.mobile-header-social {
  margin-left: 25px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-main-menu__link {
  @media screen and (max-width: 360px) {
    font-size: 28px;
  }

  font-size: 40px;
  line-height: 1.175;
  color: var(--common-color);
  display: block;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-blue-color);
  }

  &--current {
    color: var(--brand-blue-color);
  }
}

.mobile-main-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-header-contacts-wrapper {
  position: absolute;
  bottom: 48px;
}

.mobile-header-contacts {
  margin-bottom: 64px;
}

.mobile-header-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-header-contacts__link-tel {
  @media screen and (max-width: 360px) {
    font-size: 24px;
  }

  font-size: 34px;
  line-height: 1.176px;
  color: var(--brand-blue-color);
}

.mobile-header-contacts__link-mail {
  font-size: 24px;
  line-height: 28px;
  color: var(--grey);
}

.mobile-header-social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-header-social__item {
  &:not(:last-child)::after {
    content: "";
    border: 1px solid var(--modal-form-input-border);
    margin: 0 10px;
  }
}

.mobile-header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--brand-blue-color);
}
