%button {
  font-size: 16px;
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-btn {
  @extend %button;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--brand-blue-color);
  box-shadow: var(--hero-button-shadow);
  min-width: 200px;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
  }

  &__hero-modal {
    display: block;
    padding: 10px 32px;
  }

  &__hero {
    margin: 0 auto;
  }

  &__subscribe {
    @include flex-center();
    justify-content: center;
    padding: 10px;
  }
  &__subscribe-title {
    margin-right: 10px;
  }
  &__subscribe-icon {
    fill: currentColor;
  }

  &__modal-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.filter-button {
  @extend %button;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--common-color);
  background-color: var(--background-grey);
  padding: 6px 26px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--brand-blue-color);
    box-shadow: var(--project-button-shadow);
  }
}

.filter-button-list {
  @include flex-center();
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.close-button {
  @include flex-center();
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  fill: var(--black);
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--modal-close-button-border);
  transition: fill 250ms var(--timing-function);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--brand-blue-color);
  }

  &__modal {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &__icon {
    margin: auto;
  }
}
