.socials-list__team-list {
  @include flex-center();
  justify-content: center;
}

.socials-list__footer-list {
  @include flex-center($type: flex-start);
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.socials-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &--team {
    background-color: transparent;
    fill: var(--icon-body-grey);
  }

  &--footer {
    background-color: var(--footer-soc-icon);
    fill: var(--white);
  }

  &:hover,
  &:focus {
    background-color: var(--brand-blue-color);
    fill: var(--white);
  }
}

.socials-list__icon {
  margin: auto;
}
