img {
  display: block;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--common-color);
  background-color: var(--white);
  padding-top: 80px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}
