:root {
  --brand-blue-color: #2196f3;
  --brand-blue-color-overlay: rgba(33, 150, 243, 0.9);
  --black: #000000;
  --common-color: #212121;
  --grey: #757575;
  --white: #ffffff;
  --background-black: #2f303a;
  --background-grey: #f5f4fa;
  --card-border-grey: #eeeeee;
  --header-underline: #ececec;
  --hero-button-hover: #188ce8;
  --icon-body-grey: #afb1b8;
  --hero-background-grey: #c4c4c4;
  --apply-description-background: rgba(47, 48, 58, 0.8);
  --subscribe-input-border: rgba(255, 255, 255, 0.3);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-background: rgba(0, 0, 0, 0.2);
  --modal-close-button-border: rgba(0, 0, 0, 0.1);
  --modal-form-input-border: rgba(33, 33, 33, 0.2);
  --modal-form-placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --footer-soc-icon: rgba(255, 255, 255, 0.1);
  --footer-logo-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --project-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --project-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --team-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
